<div class="container">
  <h1>Editing Blog</h1>

  <%= render 'form', blog: @blog %>

  <div class="btn teal lighten-4">
    <%= link_to 'Show', @blog %>
  </div>
  <div class="btn teal lighten-4">
    <%= link_to 'Back', blogs_path %>
  </div>
</div>