<div class="container">
  <div class="row">
    <div class="col s3">
      <div class="card card-panel hoverable blue-grey darken-1">
       <div class="card-content white-text">
         <span class="card-title">Card Title</span>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ratione, aliquid minima autem tempora, dolor impedit quidem tempore dolorem magnam deserunt, illo. Perspiciatis, quia praesentium nihil illo asperiores dolor modi.</p>
       </div>
       <div class="card-action">
         <a href="#">Link 1</a>
         <a href="#">Link 2</a>
       </div>
     </div>
    </div>
    <div class="col s9">
      <div class="card card-panel hoverable blue-grey darken-1">
       <div class="card-content white-text">
         <span class="card-title">Card Title</span>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta ratione, aliquid minima autem tempora, dolor impedit quidem tempore dolorem magnam deserunt, illo. Perspiciatis, quia praesentium nihil illo asperiores dolor modi.</p>
       </div>
       <div class="card-action">
         <a href="https://facebook.com">Link 1</a>
         <a href="#">Link 2</a>
       </div>
     </div>
    </div>
  </div>
</div>